* {
  font-family: 'Sintony', sans-serif;
}

html {
  background-image: url(https://c0.wallpaperflare.com/preview/423/840/866/animals-background-collection-colorful.jpg);
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
.how-to {
  color: rgb(97, 19, 19);
  background-color: pink;
  width: auto;
}

p {
  font-size: small;
  margin: 0;
}

.how-to {
  border: solid 2pt rgb(117, 23, 23);
  padding: 2%;
  border-radius: 10%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.get-section,
.post-section,
.delete-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: solid 2pt rgb(117, 23, 23);
  border-radius: 5%;
  padding: 5%;
  background-color: pink;

}

.hidden {
  display: none;
}